$primary: #447c9c;


@import "~@fortawesome/fontawesome-free/css/all.min.css"; 
@import "~bootstrap/scss/bootstrap"; 

body {
    background-color: rgb(189, 238, 185);
}

img.mini{
    height : 50px;
}